.content table th {
    border : 1px solid black;
    width : 200px;
    height: 30px;
    background-color: #E2E8F0;
}
.content table td {
    border : 1px solid black;
    width : 200px;
    text-align: center;
    height: 30px;
}
.content {
    padding : 30px;
}